@page "/movies"
@model Movies


<h1>Movies</h1>

<div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Search By</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#" onclick="setSearchBy('title')">Title</a></li>
    <li><a class="dropdown-item" href="#" onclick="setSearchBy('director')">Director</a></li>
    <li><a class="dropdown-item" href="#" onclick="setSearchBy('release')">Relese</a></li>
    <li><a class="dropdown-item" href="#" onclick="setSearchBy('netprofit')">NetProfit</a></li>
    <li><a class="dropdown-item" href="#" onclick="setSearchBy('genre')">Genre</a></li>    
  </ul>
  <input type="text" class="form-control" aria-label="" id="search-by" disabled asp-for="@Model!.FilterBy">
  <input type="text" class="form-control" aria-label="" id="search-keyword" asp-for="@Model!.Keyword">
  <button class="btn btn-outline-secondary" type="button" onclick="search()">Search</button>
</div>

 <table class="table table-striped">
    <thead>
      <tr>
        <th>Title 
            <a href="~/movies?sortBy=title&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=title&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>
        <th>Director 
            <a href="~/movies?sortBy=director&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=director&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>
        <th>Release 
            <a href="~/movies?sortBy=release&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=release&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>
        <th>Net Profit 
            <a href="~/movies?sortBy=netprofit&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=netprofit&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>        
        <th>Genre 
            <a href="~/movies?sortBy=genre&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=genre&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>               
      </tr>
    </thead>
    <tbody>
        @{
            foreach(var movie in Model!.Items!){
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Release!.Value.ToString("MMMM dd, yyyy")</td>
                <td>@string.Format("{0:C}", movie.NetProfit)</td>
                <td>@movie.Genre</td>        
            </tr>
            }
        }
    </tbody>
  </table>

  <nav aria-label="...">
    <ul class="pagination">

      @{
        if(this.Model.PrevPages.Count() > 0){
          <li class="page-item">
            <a class="page-link" href="~/movies?pageIndex=@(this.Model.PageIndex-1)">Previous</a>
          </li>
        }

        foreach(int? pg in this.Model.PrevPages){
          <li class="page-item"><a class="page-link" href="~/movies?pageIndex=@pg">@pg</a></li>
        }        
      }
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">@this.Model.PageIndex</a>
      </li>
      @{
        foreach(int? pg in this.Model.NextPages){
          <li class="page-item"><a class="page-link" href="~/movies?pageIndex=@pg">@pg</a></li>
        }        

        if(this.Model.NextPages.Count() > 0){
          <li class="page-item">
            <a class="page-link" href="~/movies?pageIndex=@(this.Model.PageIndex+1)">Next</a>
          </li>
        }
      }

    </ul>
  </nav>

  <script>
    function setSearchBy(column){
        $("#search-by").val(column);
    }

    function search(){
        window.location = "movies?filterBy=" + $("#search-by").val() + "&keyword=" + $("#search-keyword").val() + "&sortBy=title&sortDir=asc";
    }
  </script>