@page "/movies"
@model Movies


<h1>Movies</h1>


 <table class="table table-striped">
    <thead>
      <tr>
        <th>Title 
            <a href="~/movies?sortBy=title&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=title&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>
        <th>Director 
            <a href="~/movies?sortBy=director&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=director&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>
        <th>Release 
            <a href="~/movies?sortBy=release&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=release&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>
        <th>Net Profit 
            <a href="~/movies?sortBy=netprofit&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=netprofit&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>        
        <th>Genre 
            <a href="~/movies?sortBy=genre&sortDir=desc">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
            <a href="~/movies?sortBy=genre&sortDir=asc">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </a>        
        </th>               
      </tr>
    </thead>
    <tbody>
        @{
            foreach(var movie in Model!.Items!){
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Release!.Value.ToString("MMMM dd, yyyy")</td>
                <td>@string.Format("{0:C}", movie.NetProfit)</td>
                <td>@movie.Genre</td>        
            </tr>
            }
        }
    </tbody>
  </table>